.component-7 .cam-header .nav-btn {
  position: relative;
  padding-left: 28px;
  line-height: 34px;
  margin-right: 40px;
}
.component-7 .cam-header .nav-btn::after {
  content: '';
  position: absolute;
  display: block;
  top: 8px;
  left: 2px;
  width: 20px;
  height: 19px;
  background: url(../imgs/spring/index-spr.png) no-repeat 638px 572px;
  background-position: -406px -316px;
}
.component-7 .cam-header .nav-btn:hover {
  font-weight: 700;
  color: #1da6ba !important;
}
.component-7 .cam-header .nav-btn:hover::after {
  background-position: -431px -316px;
  width: 20px;
  height: 19px;
  left: 2px;
}
.component-7 .cam-header .selected::after {
  background-position: -431px -316px;
  width: 20px;
  height: 19px;
  left: 2px;
}
.component-7 .hero-list-wrap {
  width: 100%;
  min-height: 400px;
  margin-top: 25px;
}
.component-7 .hero-list-wrap .error {
  display: none;
  padding-top: 100px;
  text-align: center;
  color: #a06262;
}
.component-7 .hero-list-wrap .displaytype {
  display: block !important;
}
.component-7 .hero-list-wrap .hero-inner-list {
  position: relative;
  display: none;
  margin-top: 20px;
  height: 425px;
}
.component-7 .hero-list-wrap .hero-inner-list .ps__rail-x {
  display: none;
}
.component-7 .hero-list-wrap .hero-inner-list > ul {
  width: 100%;
}
.component-7 .hero-list-wrap .hero-inner-list > ul::after {
  content: '';
  display: block;
  clear: both;
}
.component-7 .hero-list-wrap .hero-inner-list > ul .hero-item {
  position: relative;
  float: left;
  width: 88px;
  height: 90px;
  overflow: visible;
  margin: 0 13px 16px 0;
}
.component-7 .hero-list-wrap .hero-inner-list > ul .hero-item > a {
  display: block;
  height: 100%;
}
.component-7 .hero-list-wrap .hero-inner-list > ul .hero-item > a > img {
  display: block;
  margin: 0 auto;
  width: 66px;
  height: 66px;
}
.component-7 .hero-list-wrap .hero-inner-list > ul .hero-item > a .hover-icon {
  display: none;
  position: absolute;
  width: 66px;
  height: 66px;
  top: 0;
  left: 12px;
  transition: background 0.2s;
}
.component-7 .hero-list-wrap .hero-inner-list > ul .hero-item > a .hover-icon::after {
  content: '\0020';
  display: block;
  margin: 24px auto 0 auto;
  background-position: -401px -226px;
  width: 22px;
  height: 21px;
  background-image: url(../imgs/spring/index-spr.png);
  background-size: 638px 572px;
  background-repeat: no-repeat;
}
.component-7 .hero-list-wrap .hero-inner-list > ul .hero-item > a .hero-name {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 90px;
  font-size: 12px;
  color: #333;
}
.component-7 .hero-list-wrap .hero-inner-list > ul .hero-item:hover .hover-icon {
  display: block;
  background: rgba(0, 0, 0, 0.4);
}
.component-7 .hero-list-wrap .hero-inner-list > ul .hero-item:nth-child(13n) {
  margin-right: 0;
}
